global
    ssl-default-bind-options ssl-min-ver TLSv1.2
    log stdout format raw local0 debug

frontend www-fe
    mode http
    bind *:80

    timeout client 50s

    http-request redirect scheme https 

frontend secure-fe
    bind *:443 ssl crt /etc/ssl/certs/combined.pem

    timeout client 50s  

    acl sni_gitlab  ssl_fc_sni -i gitlab
    acl sni_maildev ssl_fc_sni -i maildev
    acl sni_nifi    ssl_fc_sni -i nifi
    acl sni_logger  ssl_fc_sni -i logger
    acl sni_elk     ssl_fc_sni -i elk

    use_backend gitlab  if sni_gitlab
    use_backend maildev if sni_maildev
    use_backend nifi    if sni_nifi
    use_backend logger  if sni_logger
    use_backend elk     if sni_elk

    default_backend logger

# frontend stats
#     bind *:1936
#     stats enable
#     stats uri /
#     stats refresh 10s
#     timeout client 50s 
#     # stats admin if LOCALHOST
#     stats admin

backend gitlab
    server gitlab gitlab:80
    timeout connect 5s
    timeout server 50s

backend maildev
    server maildev maildev:1080
    timeout connect 5s
    timeout server 50s 

backend nifi
    server nifi nifi:8443 ssl verify none
    timeout connect 5s
    timeout server 50s

backend logger
    server logger logger:8080
    timeout connect 5s
    timeout server 50s

backend elk
    server elk elk:5601
    timeout connect 5s
    timeout server 50s
