frontend maildev-fe
    bind *:80

    acl is_gitlab hdr(host) -i gitlab
    acl is_maildev hdr(host) -i maildev

    use_backend gitlab if is_gitlab
    use_backend maildev if is_maildev

backend gitlab
    server gitlab gitlab:80

backend maildev
    server maildev maildev:1080
